apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: default
  labels:
    component: web-f
spec:
  replicas: 1
  selector:
    matchLabels:
      component: web-f
  template:
    metadata:
      labels:
        component: web-f
    spec:
      containers:
      - name: frontend
        image: lakshya7ghatotkach/lakshya:v1
        ports:
        - containerPort: 80
